[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/spark-vaults-v2"]
	path = lib/spark-vaults-v2
	url = https://github.com/sparkdotfi/spark-vaults-v2
[submodule "lib/spark-alm-controller"]
	path = lib/spark-alm-controller
	url = https://github.com/sparkdotfi/spark-alm-controller
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/spark-address-registry"]
	path = lib/spark-address-registry
	url = https://github.com/marsfoundation/spark-address-registry
